{% extends "base.html" %}

{% block content %}
<br>

<div class="list-group">
  <h1>Edit task:</h1>
    
    <form action="{% url 'ToDoList:edit_task' task.id %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button name="submit" class="btn btn-outline-secondary btn-lg" value="edit">Save</button>
    </form>
    <br>
    <form action="{% url 'ToDoList:edit_task' task.id%}" method="POST">
      {% csrf_token %}
      <button name="submit" class="btn btn-danger btn-lg" value="Remove">Remove</button>
      <input type="hidden" name="id" value="{{weekly_task.id}}">
    </form>
  </a>
</div>
{% endblock content %}