{% extends "base.html" %}

{% block content %}
<br>

<div class="list-group">
  <h1>Edit task:</h1>
    
    <form action="{% url 'ToDoList:edit_task' task.id %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button name="submit" class="btn btn-outline-success btn-lg btn-block" value="save">Save</button>
    </form>
    <br>
    <form action="{% url 'ToDoList:edit_task' task.id%}" method="POST">
      {% csrf_token %}
      <br>
      <button name="submit" class="btn btn-outline-danger btn-lg btn-block" value="delete">Remove</button>
    </form>
  </a>
</div>
{% endblock content %}