{% extends "base.html" %}

{% block content %}
<h1>Protip:</h1>
<a href="{{link}}">{{tips}}</a>
<hr>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:index' %}">Weekly Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Finished tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:unfinished_tasks' %}">Unfinished tasks</a>
  </li>
</ul>
<br>
{% for finished_task in finished_tasks %}
{% if finished_task.high_priority %}
<div class="animated slideInLeft">
  <a href="{% url 'ToDoList:edit_task' finished_task.id %}" class="list-group-item list-group-item-danger">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{finished_task.title}}</h5>
      <small>{{finished_task.date_added}}</small>
    </div>
    <small>High piority:{{finished_task.high_priority}}</small>
    </a>
</div>


</a>
{% else %}
<div class="animated slideInLeft">
  <a href="{% url 'ToDoList:edit_task' finished_task.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{finished_task.title}}</h5>
      <small>{{finished_task.date_added}}</small>
    </div>
    <small>High piority:{{finished_task.high_priority}}</small>
  </a>
</div>

{% endif %}
<br>
{% empty %}
<h1>No tasks have been added</h1>
<a href="{% url 'ToDoList:new_task' %}">Let's add a task</a>
<br>
{% endfor %}
{% endblock content %}