{% extends "base.html" %}

{% block content %}

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:index' %}">Daily Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Finished tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:unfinished_tasks' %}">Unfinished tasks</a>
  </li>
</ul>
<br>
{% for finished_task in finished_tasks %}
<div class="list-group" data-toggle="tooltip" data-placement="bottom" title="Note:{{finished_task.note}}">
  <a href="{% url 'ToDoList:edit_task' finished_task.id %}" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{finished_task.title}}</h5>
      <small>{{finished_task.date_added}}</small>
    </div>
    <small>High priority:{{finished_task.high_priority}}</small>
  </a>
</div>
<br>
{% empty %}
<h1>No tasks have been added</h1>
<br>
{% endfor %}
{% endblock content %}