{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<h1>Protip:</h1>
<a href="{{link}}">{{tips}}</a>
<hr>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Weekly Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:finished_tasks' %}">Finished tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:unfinished_tasks' %}">Unfinished tasks</a>
  </li>
</ul>
<br>
<!--Vars for fullcalendar.js-->
<var id="weekly_tasks" hidden="true">{{weekly_tasks}}</var>
<var id="weekly_tasks_date_added" hidden="true">{{weekly_tasks_date_added}}</var>
<var id="weekly_tasks_id" hidden="true">{{weekly_tasks_id}}</var>
<var id="weekly_tasks_high_priority" hidden="true">{{weekly_tasks_high_priority}}</var>
<h1>Weekly average:{{weekly_average}}</h1>
<hr>
<link href="{% static 'css/fontawesome-free-5.13.0-web/css/all.css' %}" rel='stylesheet'>
<link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' />

<link href="{% static 'css/fullcalendar/core/main.css' %}" rel='stylesheet'>
<link href="{% static 'css/fullcalendar/list/main.css'%}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/daygrid/main.css'%}" rel="stylesheet">
<link href="{% static 'css/fullcalendar/bootstrap/main.css' %}" rel="stylesheet">

<script src="{% static 'js/fullcalendar/core/main.js' %}"></script>
<script src="{% static 'js/fullcalendar/list/main.js'%}"></script>
<script src="{% static 'js/fullcalendar/daygrid/main.js'%}"></script>
<script src="{% static 'js/fullcalendar/bootstrap/main.js'%}"></script>

<script src="{% static 'js/calendar.js' %}"></script>

<div id='calendar'></div>
<br>
<!------------------------------------------------------------------------------------>
{% else %}
<div class="jumbotron">

  <h1 class="display-4">ToDoApp</h1>
  <img src="{% static 'img/todolist.png' %}" alt="features">
  <p class="lead">This is a simple ToDoApp that helps you manage your tasks.</p>
  <hr>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Features
          </button>
          <img src="{% static 'img/features.png' %}" alt="features">
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ol>
            <li>Able to create tasks and manage them</li>
            <li>Make your weekly program to include every task you do everyday</li>
            <li>Provide statistics to show your progress</li>
            <li>User account system</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            How it works
            <img src="{% static 'img/howitworks.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          This app has two kind of tasks weekly and non-weekly,when you add a task you can mark it as weekly or not.
          Then you provide some additional information which is optional.Finally you can view the tasks and
          there are splitted into three sorts finished,unfinished and weekly!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            About
            <img src="{% static 'img/about.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          This website uses this tech stack:
          <hr>
          <ul>
            <li>Backend:Django(python3)</li>
            <li>Frontend:Bootstrap4</li>
            <li>Database:sqlite3 in django</li>
            <hr>
            <li>OS:This kind of workflow can be developped and deployed in any OS :)</li>
            <li>Server:Deployed to pythonanywhere</li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="btn btn-primary btn-lg" href="{% url 'Users:register' %}">Register</a>
</div>
{% endif %}

{% endblock content %}