{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Daily Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:finished_tasks' %}">Finished tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:unfinished_tasks' %}">Unfinished tasks</a>
  </li>
</ul>
<br>
{% for daily_task in daily_tasks %}
<div class="list-group" data-toggle="tooltip" data-placement="bottom" title="Note:{{daily_task.note}}">
  {% if not daily_task.finished %}
  <a href="{% url 'ToDoList:edit_task' daily_task.id %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{daily_task.title}}</h5>
      <small>{{daily_task.date_added}}</small>
    </div>
    <p class="mb-1">You need to finish this taks!</p>
    <small>High piority:{{daily_task.high_priority}}</small>

    <form action="{% url 'ToDoList:index' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{daily_task.id}}">
      <button name="submit" class="btn btn-primary btn-lg" value="finished">Finished</button>
    </form>
  </a>
  {% else %}
  <a href="{% url 'ToDoList:edit_task' daily_task.id %}" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{daily_task.title}}</h5>
      <small>{{daily_task.date_added}}</small>
    </div>
    <p class="mb-1">This task is finished!</p>
    <small>High piority:{{daily_task.high_priority}}</small>
  </a>
  {% endif %}
</div>
<br>
{% empty %}
<h1>No tasks have been added</h1>
<br>
{% endfor %}

{% else %}
<div class="jumbotron">

  <h1 class="display-4">ToDoApp</h1>
  <img src="{% static 'img/todolist.png' %}" alt="features">
  <p class="lead">This is a simple ToDoApp that helps you manage your tasks.</p>
  <hr>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Features
          </button>
          <img src="{% static 'img/features.png' %}" alt="features">
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ol>
            <li>Able to create tasks and manage them</li>
            <li>Make your daily program to include every task you do everyday</li>
            <li>Provide statistics to show your progress</li>
            <li>User account system</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            How it works
            <img src="{% static 'img/howitworks.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          This app has two kind of tasks daily and non-daily,when you add a task you can mark it as daily or not.
          Then you provide some additional information which is optional.Finally you can view the tasks and
          there are splitted into three sorts finished,unfinished and daily!
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            About
            <img src="{% static 'img/about.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          This website uses this tech stack:
          <hr>
          <ul>
            <li>Backend:Django(python3)</li>
            <li>Frontend:Bootstrap4</li>
            <li>Database:sqlite3 in django</li>
            <hr>
            <li>OS:This kind of workflow can be developped and deployed in any OS :)</li>
            <li>Server:Deployed to pythonanywhere</li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="btn btn-primary btn-lg"  href="{% url 'Users:register' %}">Register</a>
</div>
{% endif %}

{% endblock content %}