{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<h1>Protip:</h1>
<a href="{{link}}">{{tip}}</a>
<hr>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="#">Weekly Program</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ToDoList:tasks' %}">Tasks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'Projects:projects' %}">Projects</a>
  </li>
</ul>
<br>

{% for weekly_task in weekly_tasks %}
{% empty %}
<h2>You need to add some weekly tasks</h2>
{% endfor %}

{% if 'sunday' in days %}
<h2>Sunday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'sunday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'monday' in days %}
<h2>Monday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'monday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'tuesday' in days %}
<h2>Tuesday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'tuesday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'wednesday' in days %}
<h2>Wednesday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'wednesday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'thursday' in days %}
<h2>Thursday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'thursday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'friday' in days %}
<h2>Friday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'friday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}


{% if 'saturday' in days %}
<h2>Saturday:</h2>
{% for weekly_task in weekly_tasks %}
{% if weekly_task.day == 'saturday' %}
  {% if weekly_task.high_priority %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-warning">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% else %}
  <div class="list-group">
    <a href="edit_weekly_task/{{ weekly_task.id }}" class="list-group-item list-group-item-action list-group-item-primary">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{weekly_task.title}}</h5>
        <small>{{weekly_task.hour}}</small>
      </div>
      <p class="mb-1">{{weekly_task.note}}</p>
      {% if weekly_task.finished %}
      <small>Finished</small>
      {% else %}
      <form action="{% url 'ToDoList:finish_weekly_task' weekly_task.id %}" method="POST">
        {% csrf_token %}
        <button name="submit" class="btn btn-warning btn-lg btn-block">Finish</button>
      </form>
      {% endif %}
    </a>
  </div>
  {% endif %}
{% endif%}
{% endfor %}
<hr><br>
{% endif %}
<!------------------------------------------------------------------------------------>
{% else %}
<div class="jumbotron">

  <h1 class="display-4">ToDoApp</h1>
  <img src="{% static 'img/todolist.png' %}" alt="features">
  <p class="lead">This is a simple ToDoApp that helps you manage your tasks.</p>
  <hr>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Features
          </button>
          <img src="{% static 'img/features.png' %}" alt="features">
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <ol>
            <li>Able to create tasks and manage them</li>
            <li>Make your weekly program to include every task you do everyday</li>
            <li>Manage your projects</li>
            <li>Provide statistics to show your progress</li>
            <li>User account system</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            How it works
            <img src="{% static 'img/howitworks.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Three categories:
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Weekly tasks</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Normal tasks</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Projects</a>
          </div>
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">Weekly tasks</h4>
            <p>
              To put a constant plan to achieve something or daily tasks organized in a weekly program
            </p>
            <h4 id="list-item-2">Normal tasks</h4>
            <p>
              Just normal tasks so you won't forget them or you can make people make them
              to do a project (checked as project True)
            </p>
            <h4 id="list-item-3">Projects</h4>
            <p>
              Make a project to cooperate with people to finish stuff that matters to you
            </p>
          </div>
          with the ability to add edit or remove them
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            About
            <img src="{% static 'img/about.png' %}" alt="features">
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          This website uses this tech stack:
          <hr>
          <ul>
            <li>Backend:Django(python3)</li>
            <li>Frontend:Bootstrap4</li>
            <li>Database:sqlite3 in django</li>
            <hr>
            <li>OS:This kind of workflow can be developped and deployed in any OS :)</li>
            <li>Server:Deployed to pythonanywhere</li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a class="btn btn-primary btn-lg" href="{% url 'Users:register' %}">Register</a>
</div>
{% endif %}

{% endblock content %}