{% extends "base.html" %}

{% block content %}
<br>
<div class="shadow p-3 mb-5 bg-white rounded" style="display: inline-block;width: 75%;">
    <h1 class="animated infinite bounce delay-1s"><b>But why Shai?</b></h1>

    <div class="animated jello">
        <p>Shailene isn't just an actress who acts behind the camera! She is aware about what's happening
            around our planet,and this issue really matters because nobody is paying that much attention
            to saving our planet and ocean conservation.Ocean conservation is vital as well as marine livings.
            They are a part of our ecosystem so we should pay sometime around that and thinking about plastic
            thrown into the oceans,it's harming the enviroment thus we should act before the time is too late.
            Not to miss her work doing research with herbs and wellness.Like some people could not run anymore
            in thier thirties because of knee and joint problems in america,while people in indigenous cultures 
            could run in thier eighties,and things about nutriton.
        </p>
    
        <p>
            Also her political opinions about trying to stand with native americans and Dakota access pipeline,
            it's all appreciated.
        </p>
    </div>

</div>
{% endblock content %}