{% extends "base.html" %}

{% block content%}
<br>
<div class="shadow p-3 mb-5 bg-white rounded" style="display: inline-block;width: 75%">
  <div class="card-columns" >
    {% for obj in data %}
    <div class="card" style="background-color: pink">
        <a href="https://www.google.com/search?q={{obj.1}}&oq=snowden&aqs=chrome..69i57j0l5.2323j0j7&client=ubuntu&sourceid=chrome&ie=UTF-8">
          <img src="{{obj.0}}"  alt="...">
          </a>
        <div class="card-body">
          <h5 class="card-title" style="color: white">{{obj.1}}</h5>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock%}