{% extends 'base.html' %}

{% block content %}
{% load static%}
<br>
<div class="shadow p-3 mb-5 bg-white rounded" style="display: inline-block;width: 75%;">
    <img src="{% static 'video.png' %}" width="250px" height="250px">
    <hr>
    <iframe width="75%" height="390" src="https://www.youtube.com/embed/If2lCD0SQrE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <hr>
    <iframe width="75%" height="390" src="https://www.youtube.com/embed/7D1W_aH72-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <hr>
    <iframe width="75%" height="390" src="https://www.youtube.com/embed/XDTBLSkUmYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <hr>
    <iframe width="75%" height="390" src="https://www.youtube.com/embed/mHlzhHaAQjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <hr>
    <iframe width="75%" height="390" src="https://www.youtube.com/embed/DnBriUX61mU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>


{% endblock %}