{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- List group -->
<div class="list-group" id="myList" role="tablist">
  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Statistics</a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Graphs</a>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
    <div class="card">
      <div class="card-body" data-toggle="popover" data-placement="bottom" title="Last login" data-content="{{user.last_login}}">
        <h1 class="card-title">{{user.username}}</h1>
        <h2 class="card-text">ID: {{user.id}}</h2>
        <h2 class="card-text">Date joined: {{user.date_joined}}</h2>
        <h2 class="card-subtitle mb-2 text-muted">Finished tasks:{{tasks_len}}</h2>
        <h2 class="card-subtitle mb-2 text-muted">Finished weekly tasks:{{weekly_tasks_len}}</h2>
        <h2 class="card-subtitle mb-2 text-muted">Finished projects:{{projects_len}}</h2>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
    {% if finished_tasks_len > 0 %}

    <var id="x_values" hidden="true">{{x_values}}</var>
    <var id="y_values" hidden="true">{{y_values}}</var>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="{% static 'js/chart_func.js' %}"></script>
    {% if well_done %}
    <div class="alert alert-success" role="alert" style="background-color: limegreen;">
      <h4 class="alert-heading">Well done!</h4>
      <p>It looks like your making progress,keep on!</p>

      <hr>
      <b>Average : {{average}}</b>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="background-color: red;">
      <h4 class="alert-heading">Oops</h4>
      <p>It looks like your not making progress,try harder!</p>
      <hr>
      <b>Average : {{average}}</b>
      <br>
      {% if last_task %}
      <b>Last finished task: {{last_task}}</b>
      {% else %}
      <p>No tasks have been finished yet!</p>
      {% endif %}

    </div>
    {% endif %}
    {% else %}
    <h1>No tasks have been added</h1>
    <a href="{% url 'ToDoList:new_task' %}">Let's add a task</a>
    {% endif %}
  </div>
</div>

{% endblock content %}