{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- List group -->
<div class="list-group" id="myList" role="tablist">
  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">User</a>
  <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Statistics</a>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
    <div class="card">
      <div class="card-body" data-toggle="popover" data-placement="bottom" title="Last login" data-content="{{user.last_login}}">
        <h1 class="card-title">{{user.username}}</h1>
        <h2 class="card-text">ID: {{user.id}}</h2>
        <h2 class="card-text">Date joined: {{user.date_joined}}</h2>
        <h2 class="card-subtitle mb-2 text-muted">Finished tasks:{{finished_tasks_len}}</h2>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel">
    {% if finished_tasks_len > 0 %}
    {% if well_done %}
    <div class="alert alert-success" role="alert" style="background-color: limegreen;">
      <h4 class="alert-heading">Well done!</h4>
      <p>It looks like your making progress,keep on!</p>

      <img src="{% static 'img/figure.png' %}" class="img-fluid" onmouseover="func()">
      <hr>
      <b>Average : {{average}}</b>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="background-color: red;">
      <h4 class="alert-heading">Oops</h4>
      <p>It looks like your not making progress,try harder!</p>
      <img src="{% static 'img/figure.png' %}" class="img-fluid">
      <hr>
      <b>Average : {{average}}</b>
      <br>
      {% if last_task %}
      <b>Last finished task: {{last_task}}</b>
      {% else %}
      <p>No tasks have been finished yet!</p>
      {% endif %}

    </div>
    {% endif %}
    {% else %}
    <h1>You need to finish some tasks!</h1>
    {% endif %}
  </div>
</div>

{% endblock content %}